.mle-link-field-compact {
	// but label on the right side if there is enough space
	.field[data-type='craft\\\\fields\\\\Link'] {
		container-type: inline-size;

		@container (width > 900px) {
			> .input > .pane {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0 1rem;
			}

			.pane > .link-input {
				margin-top: auto;
			}

			> .input > .pane > .field {
				display: grid;
				grid-template-columns: auto 1fr;
				gap: 1rem;
				margin: 0 !important;
			}

			.pane > .field > .heading {
				margin-bottom: -3px !important;
			}

			.pane > button {
				grid-column: 1 / 3;
				justify-self: self-start;
			}

			.meta {
				grid-column: 1 / 3;
			}
		}
	}

	// remove border if its the only field
	.flex-fields
		> :first-child:last-child[data-type='craft\\\\fields\\\\Link']
		> .input
		> .pane {
		padding: 0;
		border: none !important;
	}
}
