.mle-btn-icon {
	.icon {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		margin-inline-end: 5px;
		margin-block-start: -3px;

		svg {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			inset-block-start: 1px;

			path {
				fill: var(--icon-color, var(--ui-control-color));
			}
		}
	}
}
